.illus-and-text {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 125px;
}

.text-content button {
   margin-right: 16px;
}

.illus-right,
.illus-left {
   position: relative;
   display: flex;
   right: 0;
   pointer-events: none;
}

.illus-right {
   min-width: 670px;
   min-height: 486px;
}

.illus-left {
   min-height: 435px;
   min-width: 705px;
}

.rec-right,
.rec-left {
   position: absolute;
   height: 352px;
   background-color: #5266DF;
   align-self: flex-end;
}

.rec-right {
   width: 515px;
}

.rec-left {
   width: 640px;
}

.half-circle-left {
   border-radius: 176px 0 0 176px;
   right: 0;
}

.half-circle-right {
   border-radius: 0 176px 176px 0;
}

.illus-wrapper-left,
.illus-wrapper-right {
   position: absolute;
   top: 0;
   z-index: 2;
   align-self: flex-start;
}

.illus-wrapper-right {
   top: -9.5px;
   left: -39.5px;
}

.illus-wrapper-left {
   right: 0;
}

/* Home page second section */
.justify-center {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.text-center {
   text-align: center;
}

.width-540 {
   width: 540px;
}

.features {
   display: flex;
   margin-bottom: 72px;
}

.text-content .heading2 {
   letter-spacing: 0.04rem;
}

.feature {
   position: relative;
   margin-top: 12px;
   padding: 32px 42px;
   border-bottom: 1px solid #E0E0EA;
   text-transform: capitalize;
   cursor: pointer;
   opacity: .75;
}

.feature:hover {
   opacity: .9;
}

.active {
   opacity: 1;
   pointer-events: none;
}

.active::after {
   content: '';
   position: absolute;
   height: 4px;
   width: 100%;
   bottom: 0;
   left: 0;
   background-color: #FB5859;
}

.slide-show {
   width: 100%;
   overflow: hidden;
}

.slides {
   width: 300%;
   display: grid;
   transition: .5s ease;
   grid-template-columns: 1fr 1fr 1fr;
}

